<div>
    <div class="row" style="height: 55vh;">
        <div class="col-sm-6" style="height: 55vh;">
            <app-terminal></app-terminal>
        </div>
        <div class="col-sm-6" style="height: 55vh;">
            <app-tokens-table></app-tokens-table>
        </div>
    </div>
    
    <div class="row"  style="height: 45vh;">
        <div class="col-sm-6" style="background-color: rgb(255, 255, 255); height: 45vh;"> 
            <app-code-complete></app-code-complete>
        </div>
        <div class="col-sm-6" style="background-color: bisque; height: 45vh;"> Errores </div>
    </div>

</div>

